@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* .sections-container {
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  height: 100vh;
}

.section {
  scroll-snap-align: start;
} */


html {
  scroll-behavior: smooth;
}

.image {
  object-fit: contain;
}